@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
body {
    background-color: black;
  font-family: 'Amatic SC', sans-serif;
  font-size: 20px;
  color: yellow;

}
.text{
    text-align: center;
}